.certificate{style: 'text-align: center;padding-top: 30%;'}
  %p.title{style: 'font-size: 72px; font-weight: bold'} PDF Certificate
  %p.place{style: 'font-size: 48px;'} # #{@contributor.place}
  %p.text{style: 'font-size: 24px;'} in #{@contributor.repo.repo_name}
  %p.text{style: 'font-size: 24px;'} the award goes to
  %p.login{style: 'font-size: 48px;'} #{@contributor.login}
  %p.text{style: 'font-size: 24px;'} with #{@contributor.contributions} commits